@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #29a7e1 !default;
$brand-success: #01cdc1 !default;
$brand-warning: #ffef03 !default;
$brand-danger: #f55928 !default;
$brand-info: #ff3c8e !default;
$brand-green: #35b24a !default;
$brand-yellow: #fddd0e !default;
$brand-purple: #662d91 !default;
$brand-blue: #3cf2e0 !default;
$brand-blue-dark: #437ae2 !default;

$background: #652d92 !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: "American Purpose";
  src: url("../fonts/AmericanPurpose.ttf");
}
@font-face {
  font-family: "Galano Grotesque Alt";
  src: url("../fonts/Galano Grotesque Alt.otf");
}
@font-face {
  font-family: "Galano Grotesque Alt";
  src: url("../fonts/Galano Grotesque Alt Semi Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Galano Grotesque Alt";
  src: url("../fonts/Galano Grotesque Alt Bold.otf");
  font-weight: 700;
}

.primary {
  color: $brand-primary;
}
.success {
  color: $brand-success;
}
.warning {
  color: $brand-warning;
}
.danger {
  color: $brand-danger;
}
.info {
  color: $brand-info;
}
.green {
  color: $brand-green;
}
.dark {
  color: black;
}
.yellow {
  color: $brand-yellow;
}
.blue { color: $brand-blue; }

body {
  font-family: "Galano Grotesque Alt";
}

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.fixed-width {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: $brand-yellow;
  color: black;
  background-image: url("../img/bg2.png");
  background-size: 100%;
  position: relative;
}
.logo {
  padding: 30px 0 10px;
  .img-responsive {
    margin: 0 auto;
  }
}
.title {
  h1 {
    -webkit-text-stroke: 1px black;
    font-size: 58px;
    font-weight: bold;
    font-family: 'American Purpose';
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.35);
    @include transform(rotate(-1deg));
    margin: 0;
    padding-top: 50px;
    img {
      margin: 0 auto;
    }
  }
}
.title-desc {
  p {
    font-size: 20px;
    margin: 20px 20px 100px;
    @include transform(rotate(-2deg));
  }
}

.bold {
  font-weight: 600;
}
.answer {
    margin: 10px 0 25px;
}
.question {
    font-size: 17px;
    padding: 0px 30px;

    input.form-control {
        box-shadow: none !important;
        border-radius: 0;
        background-color: transparent;
        border: none;
        background: bottom left linear-gradient(#000, #000) no-repeat, bottom center linear-gradient(#000, #000) repeat-x, bottom right linear-gradient(#000, #000) no-repeat;
        background: bottom left -webkit-linear-gradient(#000, #000) no-repeat, bottom center -webkit-linear-gradient(#000, #000) repeat-x, bottom right -webkit-linear-gradient(#000, #000) no-repeat;
        background: bottom left -moz-linear-gradient(#000, #000) no-repeat, bottom center -moz-linear-gradient(#000, #000) repeat-x, bottom right -moz-linear-gradient(#000, #000) no-repeat;
    	  background-size: 1px 6px, 1px 1px, 1px 6px;
        outline: 0 !important;
    }
    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        @include appearance(none);
        @include transition(all 300ms ease);
        border: 1px solid black;
        height: 16px;
        width: 16px;
        margin: 2px 0 0px -20px;
        outline: 0;

        &:checked {
          background-color: black;
        }
    }
}
.footer {
  margin: 0 -20px;
  padding: 10px;
  background-color: white;
}
.social {
  .nav {
    > li {
      > a {
          padding: 0;
          color: black;

          &:hover, &:focus {
            background-color: inherit;
          }
      }
    }
  }
}
a {
  @include transition(all 300ms ease);

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
.box-input {
  margin: 0 -20px;
  padding: 20px 40px;
  background-color: #4a1972;

  label {
    font-weight: normal;
    color: $brand-warning;
  }
  input.form-control {
      box-shadow: none !important;
      border-radius: 0;
      background-color: $brand-purple;
      border-color: white;
      outline: 0 !important;
      color: white;
  }

  .btn {
    @include transition(all 300ms ease);
    border-radius: 0px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    background-color: #eb1c22;
    border: 2px white solid;
    box-shadow: 1px 1px 1px black;
    font-size: 16px;
    margin: 10px auto;
    display: block;
  }
  .submit-button {
    @include transition(all 300ms ease);
    width: 100%;
    margin: 5px auto 0;
    padding: 6px 0;
    border-radius: 0px;
    font-weight: 600;
    text-transform: uppercase;
    color: $brand-purple;
    background-color: white;
    border: none;
    font-size: 16px;
    display: block;
    &:focus {
      outline: none;
    }
  }
}
.footer {
  .dark {
    font-weight: 600;
    margin: 0 0 10px;
  }
}
.validator-message {
    background-color: #DB1E4A;
    text-shadow: 1px 1px 1px black;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    border: 1px solid white;
    padding: 6px 10px;
    position: fixed;
    font-size: 16px;
    z-index: 9;
    top: 20px;
    left: 50%;
    @include transform(translateX(-50%));
}
.inline {
  display: inline-block !important;
}
/* Start writing sass here */
