<div class="greetings">
  <div class="title danger text-center">
    <h1>​ World Class Sports
      <br>
      &amp; Entertainment Arena
    </h1>
  </div>
  <div class="title-desc text-center success">
    <p>
      Thank you for your time!
    </p>
  </div>
</div>

<form ng-submit="formsubmit(form)">
  <div class="validator-message" ng-show="">Please complete the survey!</div>
  <div class="title danger text-center">
    <h1>​ World Class Sports
      <br>
      &amp; Entertainment Arena
    </h1>
  </div>
  <div class="title-desc text-center success">
    <p>
      Smaaash offers unmatched range of games that offer a superlative virtual-reality experience. We combine the best of sports, music and dining into a highly Innovative experience, making it the ulitmate desitnation for Hosting Parties.
    </p>
  </div>
  <div class="question">
    <span class="bold">How often do you plan Team Outings/ Get-Together?</span>
    <div class="answer">
      <label class="radio-inline">
        <input type="radio" id="monthly" ng-model="form.duration" value="monthly" name="team" required>
        Monthly
      </label>
      <label class="radio-inline">
        <input type="radio" id="quarterly" ng-model="form.duration" value="quarterly" name="team" required>
        Quarterly
      </label>
      <label class="radio-inline">
        <input type="radio" id="halfquarterly" ng-model="form.duration" value="half yearly" name="team" required>
        Half Yearly
      </label>
    </div>
  </div>
  <div class="question">
    <span class="bold">What is the Average Team Size for the Team Outings/ Get-Together?</span>
    <div class="answer">
      <label class="radio-inline">
        <input type="radio" id="ten" ng-model="teamsize" value="10to25" name="team1" required>
        10 to 25
      </label>
      <label class="radio-inline">
        <input type="radio" id="twofive" ng-model="teamsize" value="25to50" name="team1" required>
        25 to 50
      </label>
      <label class="radio-inline">
        <input type="radio" id="fifty" ng-model="teamsize" value="50+" name="team1" required>
        50+
      </label>
    </div>
  </div>
  <div class="question">
    <span class="bold">Where did you host your last Team Get-Together?</span>
    <div class="answer">
      <input type="text" ng-model="lastlocation" class="form-control" required>
    </div>
  </div>
  <div class="question">
    <span class="bold">When are you planning to host your next event?</span>
    <div class="answer">
      <input type="text" ng-model="nextlocation" class="form-control" required>
    </div>
  </div>
  <div class="question">
    <span class="bold">Have you heard about Smaaash Entertainment?</span>
    <div class="answer">
      <label class="radio-inline">
        <input type="radio" id="yes" value="yes" name="team2" ng-model="knowssmash" required>
        Yes
      </label>
      <label class="radio-inline">
        <input type="radio" id="no" value="no" name="team2" ng-model="knowssmash" required>
        No
      </label>
      <label class="radio-inline">
        <input type="radio" id="cant" value="cant recall" name="team2" ng-model="knowssmash" required>
        Can't Recall
      </label>
    </div>
  </div>
  <div class="question">
    <span class="bold">Would you like to host you next Team Outing / Party at Smaaash?</span>
    <div class="answer">
      <label class="radio-inline">
        <input type="radio" id="yes1" value="yes" name="team3" ng-model="hostwithsmash" required>
        Yes
      </label>
      <label class="radio-inline">
        <input type="radio" id="no1" value="no" name="team3" ng-model="hostwithsmash" required>
        No
      </label>
      <label class="radio-inline">
        <input type="radio" id="maybe" value="cant recall" name="team3" ng-model="hostwithsmash" required>
        Maybe
      </label>
    </div>
  </div>
  <div class="box-input">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>Name*</label>
          <input type="text" class="form-control" ng-model="name" required>
        </div>
        <div class="form-group">
          <label>Phone No*</label>
          <input type="tel" class="form-control" ng-model="phone" required>
        </div>
        <div class="form-group">
          <label>Name of Organisation</label>
          <input type="text" class="form-control" ng-model="organization">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label>Email id*</label>
          <input type="email" class="form-control" ng-model="email" required>
        </div>
        <div class="form-group">
          <label>Designation</label>
          <input type="text" class="form-control" ng-model="designation">
        </div>
      </div>
    </div>
    <button type="submit" name="button" class="btn btn-danger">Submit</button>
  </div>
  </form>
