<div class="text-center dark">
  L5, Inorbit Mall, Hyderabad- 500081.
</div>
<div class="social">
  <ul class="nav nav-justified">
    <li>
      <a href="tel:+914044739999"><img src="img/call.png">+91 40 44739999</a>
    </li>
    <li>
      <a href="http://www.smaaash.in" target="_blank"><img src="img/web.png">www.smaaash.in</a>
    </li>
    <li>
      <a href="https://www.facebook.com/SmaaashLive" target="_blank"><img src="img/facebook.png">/SmaaashLive</a>
    </li>
    <li>
      <a href="https://twitter.com/SmaaashLive" target="_blank"><img src="img/twitter.png">@SmaaashLive</a>
    </li>
  </ul>
</div>
